@import 'colors';

.splash {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  h1 {
    font-weight: normal;

    .lighter {
      color: lighten($black, 40%);
      font-weight: 200;
    }
  }
}
